<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiskSpaceWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiskSpaceWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DiskSpaceWatcher.Properties.Settings>
            <setting name="Thresholds" serializeAs="String">
                <value>53687091200
107374182400
214748364800
322122547200
429496729600
536870912000
644245094400
1099511627776
2199023255552
3298534883328
4398046511104
5497558138880</value>
            </setting>
        </DiskSpaceWatcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DiskSpaceWatcher.Properties.Settings>
            <setting name="WatchInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Targets" serializeAs="String">
                <value>C:; 53687091200; 214748364800</value>
            </setting>
        </DiskSpaceWatcher.Properties.Settings>
    </userSettings>
</configuration>